<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label for='name'>Name:</label>
  <input type='text' name='name' id='name' />
  <input type=submit value='log in'>
<% end %>
