<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label for="name">name</label>
  <input name=name id="name">
  <input type=submit value='login' name='login'>
<% end %>

