<h1> Log In </h1>
<% if flash[:alert] %>
    <font color="red"><%= flash[:alert] %></font>
  <% end %>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  Name: <input name=name>
  <input type=submit value='login'>
<% end %>
