 <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

<%= form_tag('/sessions', method: :post) do %>
<label>Username</label><br>
<input type="text" id="name" name="name"><br>
<input type="submit" value="Login">
<% end %>

