<h1>Please enter your username to login:</h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label for="">Username:</label><br>
  <input name=name><br>
  <input type=submit value='login'>
<% end %>

