<% if session[:name] == nil %>
	<p><a href="/login">Login </a> 
<% else %>
	<h1>Hi, <%= session[:name] %>.</h1>
	<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
	  	<input type=submit value='logout' name='logout'>
	<% end %>
<% end %>	

