<h1>Hi, <%= session[:name] %>.</h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>

  <%= if session[:name] == nil || [] %>
  <%= form_tag ({controller: 'sessions', action: 'new', method: 'get'}) %>
<% end %>
