<h1>Hi, <%= session[:name] %>.</h1>

<p><%= link_to 'Log In', '/login' if !session[:name] %></p>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
