<% if !session[:name] %>
  <p>NONE SHALL ENTER...unless you <%= link_to "log in", login_path %>, of course.
<% else %>
  <h1>Hi, <%= session[:name] %>.</h1>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>
<% end %>
