<% if @user %>
  <h1>Hi, <%= @user %>.</h1>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>

<% else %>
  <h3><%= link_to "Login",  login_path %></h3>

<% end %>
