<% if current_user %>
  <h1>Hi, <%= session[:name] %>.</h1>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <% end %>
<% else %>
  <h1>You're not logged in! Please <%= link_to 'login here.', login_path %></h1>
<% end %>
